*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    background-color: #45ae;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}
.searchBar{
    background-color: white;
    padding: 0.2rem;
    border-radius: 10px;
}
.searchBar input{
    border: none;
    padding: 0.5rem;
}
.searchBar button{
    background-color: cornflowerblue;
    color: cornsilk;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 5px;
    margin: 0px 0.2rem;
}
.searchBar button:hover{
    cursor: pointer;
    background-color: royalblue;
}
.nav-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url('https://images.unsplash.com/photo-1722076517677-2e4aeb31fea6?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.captionText{
    width: 25vw;
    margin-bottom: 2rem;
    color: white;
}
.bookBtn{
    background-color: #45ae;
    color: white;
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 2px;
}
.container{
    padding: 10rem;
    display: flex;
    justify-content: space-between;
}
.mainhead{
    margin-bottom: 2rem;
}
.bookBtn:hover{
    background-color: royalblue;
    cursor: pointer;
}
.result{
    width: 25vw;
    background-color: aliceblue;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}
.result img{
    width: 100%;
}
.result button{
    margin-top: 1rem;
    padding: 0.5rem 0.7rem;
    background-color: #45ae;
    color: white;
    border: none;
    border-radius: 5px;
}
.result h1{
    margin: 10px 0;
}